body {
    background-color: var(--backgroundColor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100svh;

    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

:root{
    --bolaSize: 65px;

    --corTubo: #fff;
    --corBotoes: #1e3e2e;

    --verdeLaRa: #acbb3e;
    --rosaLaRa: #f556e0;
    --verdeLaRa2: #99b969;
    --rosaFELPS: #ff3464;

    --tamanhoBordaTubo: 10px;

    --backgroundColor: #1e2e3e;
    

    --assistCor: transparent;
    --acabou: none;
}

* {
    margin: 0;
}

main {
    display: flex;
    gap: 5%;
    row-gap: 5%;
    width: fit-content;

    justify-content: center;
    width: 100%;

    flex-wrap: wrap;
}

.tubo {
    border: solid var(--corTubo);
    border-top: 0;
    min-width: var(--bolaSize);
    width: max-content;
    height: fit-content;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;

    display: flex;
}

.bola {
    height: var(--bolaSize);
    width: var(--bolaSize);
    border-radius: var(--bolaSize);

    border: 0 5px 0 5px transparent;
}

#segurando {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

button {
    background-color: var(--corBotoes);
    color: whitesmoke;
    border: 0;
    font-size: 1.5rem;
    border-radius: 5px;

    margin-top: 3rem;
}

#hud {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;

    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%);
}

#hud > h1 {
    padding: 0.5rem;
    
    font-size: 3rem;
}

#vitoria {
    display: none;
    position: absolute;

    flex-direction: column;

    background-color: var(--verdeLaRa2);
    padding: 1rem;
    color: var(--rosaFELPS);

    border-radius: 10px;
}

#vitoria > button {
    background-color: var(--rosaFELPS);
}

.bola {
    color: var(--assistCor);
    
    font-weight: bold;
    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#acabou {
    display: var(--acabou);
    position: absolute;

    flex-direction: column;

    background-color: var(--verdeLaRa2);
    padding: 1rem;
    color: var(--rosaFELPS);

    border-radius: 10px;
}
/*asdasd*/